
body{
	background-color: #E0E0E5
}

#divID {
	text-align: center;
	font-size: 20px;
	border-style: double;
	width: 50%;
	height: 50%;
	position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#sousdiv{
	text-align: left;
	font-size: 20px;
	border-style: double;
	width: 50%;
	height: 50%;
	position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
.header {
	height: 200px;
	width: auto;
	padding:25px 0px;
	background-color: LightSlateGray   ;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: top;
	text-align:center;
	margin-bottom: 100px;
}

.header h1 {
	color: green;
	font-family: BERLIN Sans FB demi;
	font-size: 40px;
	text-align: center; 
	margin-bottom: 100px; /* marge en pixel en dessous du titre */
	margin-top: 80px; /* marge en pixel au dessus du titre */
}

}
/* fin des paramètres du header*/

/****************************** paramètres du FOOTER ***************************/

/* paramètres de la div conteneur */

#containID {
	position:relative;
	min-height:100%;
	max-width:1280px;
	margin:0 auto;
	height: auto;
}

/* fin des paramètres de la div conteneur */ 

#footer {
	background-color: LightSlateGray   ;
	width: 100%;
	height: 200px;
	text-align:left;
	margin-top: 100px;
}

/* fin des paramètres du footer */



