html, body {
    font-family: Verdana, sans-serif;
    height: 100%;
	background-color: lightgrey;
 }

header{
	padding: 1em;
    background-color: white;
}

h1 {
 font-size: 200%; 
 color: darkblue; 
 text-align: center;
 }
 
h2 {
 font-size: 150%; 
 color: darkblue; 
 padding-left: 1em;
 }
 
p,ul,li {
 color: black; 
 }

ul{
 padding-left: 5em;
 }
 
a:link {
 color: blue;
 text-decoration: underline;
 }
a:active, a:focus {
 color: red;
}

#footer {
    padding: 1em;
    background-color: white;
    text-align: center;
}

#footer p{
	color: darkblue; 
}
