/* Auteur : S. Madeleine, R. Michaut */
body{
	background-color: #E0E0E5
}
/*code pour tuile de contenu carte identité animal*/
div.containID ul#tiles-panel li {
    display: inline-block;
    list-style: none outside none;
    margin: 0 8px 8px 0;
    vertical-align: top;
}
 
.tile {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #F0F1F4;
    border-bottom: 3px solid #F0F1F4;
    display: inline-block;
    height: 33%;
    text-decoration: none;
    vertical-align: top;
    width: 100%;
	}
	
.tile2{
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #F0F1F4;
    border-bottom: 3px solid #F0F1F4;
    display: inline-block;
    height: 33%;
    text-decoration: none;
    vertical-align: top;
    width: 100%;
	}
 
.tile h1 {
    color: #253340;
    display: block;
    font-family: Liberation Sans;
    font-size: 46px;
    font-weight: 500;
    line-height: 148%;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow : ellipsis;
    overflow : hidden;
    text-align : center;
}

.tile h2 {
    color: #253340;
    display: block;
    font-family: Liberation Sans;
    font-size: 42px;
	font-style: Italic;
    font-weight: 500;
    line-height: 148%;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow : ellipsis;
    overflow : hidden;
    text-align : center;
}
.tile img {
    float: right;
	width: 100%;
	height: 100%;
}
 
.tile table {
    margin: auto;
    border-color: #F0F1F4;
	width: 50%;
}
 
.tile td {
    color: #F99500;
    font-family: Liberation Serif;
    font-size: 28px;
	font-style: bold
    font-weight: 500;
    line-height: 148%;
    margin: 0;
    padding: 0 10px;
    text-align: center;
	border-color: #F0F1F4;
}
 
.tile2 td {
    color: #253340;
    font-family: Liberation Serif;
    font-size: 28px;
	font-weight: 500;
    line-height: 148%;
    margin: 0;
    padding: 0 10px;
    text-align: center;
	border-color: #F0F1F4;
} 
 
.tile tr {
   	border-color: #F0F1F4;
}
 
.tile p {
    color: #253340;
    font-family: Liberation Serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 148%;
    margin: 0;
    padding: 0 10px;
    text-align: center;
}
/*fin du code pour tuile de contenu*/



/******************** paramètres photos header ****************************/

.photogauche { 
	float: left; 
	margin-right:20px; /* marge en pixel à droite de la photo */ 
	margin-left: 20px; /* marge en pixel à gauche de la photo */ 
	margin-bottom: 20px; /* marge en pixel en dessous de la photo */
	margin-top: 20px; /* marge en pixel au dessus de la photo */
} 

.photodroite { 
	float: right; 
	margin-left:20px; /* marge en pixel à gauche de la photo */ 
	margin-right:20px; /* marge en pixel à droite de la photo */ 
	margin-bottom: 20px;
	margin-top: 20px;
} 

/******************************* paramètres du HEADER **************************/

.header {
	height: 200px;
	width: auto;
	padding:25px 0px;
	background-color: LightSlateGray   ;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: top;
	text-align:center;
}
h1 {
	color: green;
	font-family: Verdana;
	font-size: 30px;
	text-align: center;
}

}
/* fin des paramètres du header*/

/****************************** paramètres du FOOTER ***************************/

/* paramètre de la div conteneur */

#containID {
	position:relative;
	min-height:100%;
	max-width:1280px;
	margin:0 auto;
	height: auto;
}

/* fin des paramètres de la div conteneur */ 

#footer {
	background-color: LightSlateGray   ;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 200px;
	text-align:left;
}

/* fin des paramètres du footer */



