/* Auteur : S. Madeleine, R. Michaut */
h1 {
	color: green;
	font-family: Verdana;
	font-size: 30px;
	text-align: center;
}
h2 {
	color: green;
	font-family: Verdana;
	font-size: 25px;
}
h3 {
	color: green;
	font-family: Verdana;
	font-size: 20px;
}
.centre{
	font-family: Verdana;
	font-size: 15px;
	text-align: center;
}
table {
border: thin solid #000000;
margin-left: auto;
margin-right: auto;
width: 30%;
padding: 5px;
text-align: center;
font-family: verdana;
}
td, th {
border: thin solid #ffffff;
width: 30%;
padding: 5px;
text-align: center;
font-family: verdana;
}

div.photogauche { 
	float: left; 
	margin-right:10px; /* marge en pixel à droite de la photo */ 
} 

div.photodroite { 
	float: right; 
	margin-left:10px; /* marge en pixel à gauche de la photo */ 
} 
