html, body {
    font-family: Verdana, sans-serif;
    height: 100%;
}

h1 {
	font-size: 200%; 
	color: darkred; 
	text-align: center;
}
 
h2 {
	font-size: 150%; 
	color: darkblue; 
	padding-left: 1em;
}

ul{
	padding-left: 5em;
}
 
ul,li {
	color: black; 
}
 
a:link {
	color: blue;
	text-decoration: underline;
}