/* Auteur G. Richomme, juillet 2017 */
h1 {
	color: blue;
	text-align: center;
}
h2 {
	color: blue;
}
h3 {
	color: blue;
}
.centre{
	text-align: center;
}
table {
	border: 2px double red;
	margin:auto;
}
th, td{
	border: 1px solid blue;
}
